/*reset*/
			html, body, div, span, applet, object, iframe,
			h1, h2, h3, h4, h5, h6, p, blockquote, pre,
			a, abbr, acronym, address, big, cite, code,
			del, dfn, em, img, ins, kbd, q, s, samp,
			small, strike, strong, sub, sup, tt, var,
			b, u, i, center,
			dl, dt, dd, ol, ul, li,
			fieldset, form, label, legend,
			table, caption, tbody, tfoot, thead, tr, th, td,
			article, aside, canvas, details, embed, 
			figure, figcaption, footer, header, hgroup, 
			menu, nav, output, ruby, section, summary,
			time, mark, audio, video {
				margin: 0;
				padding: 0;
				border: 0;
				font-size: 100%;
				font: inherit;
				vertical-align: baseline;
			}
			/* HTML5 display-role reset for older browsers */
			article, aside, details, figcaption, figure, 
			footer, header, hgroup, menu, nav, section {
				display: block;
			}
			body {
				line-height: 1;
			}
			ol, ul {
				list-style: none;
			}
			blockquote, q {
				quotes: none;
			}
			blockquote:before, blockquote:after,
			q:before, q:after {
				content: '';
				content: none;
			}
			table {
				border-collapse: collapse;
				border-spacing: 0;
			}

			html, body{
				scroll-behavior: smooth;
			}


			.clearfix:after{
				content: "";
				clear: both;
				display: block;
			}

/*main*/

			.wrapper{
				background: pink;
				width: 1200px;
				margin: 0 auto;
				min-height: 500px;
				padding: 100px 10px;
				position: relative;
				color: #fff;
				font-size: 30px;
			}

			.test{
				background: lime;
			}

/*			.test{
				display: inline-block;
				overflow: hidden;
			}*/
			.test{
				perspective: 200px;
			}

			.test img{
				transition: 2s linear;
				/*transform-origin: 0 0 0;*/
			}

			.test:hover img{
				transform: rotateX(45deg);

				/*transform: translate(100%);*/
				/*transform: skew(45deg, -45deg)*/
				/*transform: scale(2);*/
				/*transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);*/
			}

			.test2{
				min-height: 600px;
				padding: 100px;
				background: yellow;
			}

			.test2>div{
				width: 300px;
				height: 300px;
				padding: 10px;
				/*color: purple;*/
				font-size: 55px;
				/*text-shadow: 10px 10px 5px 10px lime;*/
				text-shadow: 0 0 1px;
				background: red;
				box-shadow: 0 0 0 5px grey inset, 0 0 0 20px blue,0 0 0 30px green;
			}


		