table{
	border-collapse: collapse;
	border-spacing: 0;
}
html, body{
	scroll-behavior: smooth;
}
.wrapper{
	background: blue;
	width: 1200px;
	margin: 0 auto;
	padding: 10px;
	position: relative;
}

.wrapper>div{
	min-height: 400px;
}
.t_cell{
	background: yellow;
	z-index: 10;
	position: relative;
}
.in_b{
	background: green;
	margin: -100px;
	/*position: sticky;*/
	left: 200px;
	top: 50px;

}
.float{
	background: grey;
}
.test{
	background: black;
	position: relative;
	top: 200px;
	left: 200px;
}
.float{
	background: purple;
}
.test1{
	background: red;
	width: 1200px;
	position: absolute;
	/*position: fixed;*/
	left: -100px;
}
.test2{
	background: orange;
/*	width: 1200px;
	position: absolute;
	left: 200px;
	top: 100px;*/
}
.test3{
	background: pink;
	/*position: sticky;*/
	bottom: 0;
}
.test4{
	background: aqua;
}
.in_test4{
	background: orange;
	width: 300px;
	float: left;
}
.clearfix{
	clear: both;
}
.test4:before{
	content: "";
	clear: both;
	display: block;
}
.test4:after{
	content: "";
	clear: both;
	display: block;
}
.test4:hover>.in_test4{
	background: brown;
}
.test5{
	background: green;
}
.test5:hover{
	background: white;
	size: 20px;
	color: red;
}

