/*reset*/
			html, body, div, span, applet, object, iframe,
			h1, h2, h3, h4, h5, h6, p, blockquote, pre,
			a, abbr, acronym, address, big, cite, code,
			del, dfn, em, img, ins, kbd, q, s, samp,
			small, strike, strong, sub, sup, tt, var,
			b, u, i, center,
			dl, dt, dd, ol, ul, li,
			fieldset, form, label, legend,
			table, caption, tbody, tfoot, thead, tr, th, td,
			article, aside, canvas, details, embed, 
			figure, figcaption, footer, header, hgroup, 
			menu, nav, output, ruby, section, summary,
			time, mark, audio, video {
				margin: 0;
				padding: 0;
				border: 0;
				font-size: 100%;
				font: inherit;
				vertical-align: baseline;
			}
			/* HTML5 display-role reset for older browsers */
			article, aside, details, figcaption, figure, 
			footer, header, hgroup, menu, nav, section {
				display: block;
			}
			body {
				line-height: 1;
			}
			ol, ul {
				list-style: none;
			}
			blockquote, q {
				quotes: none;
			}
			blockquote:before, blockquote:after,
			q:before, q:after {
				content: '';
				content: none;
			}
			table {
				border-collapse: collapse;
				border-spacing: 0;
			}

			html, body{
				scroll-behavior: smooth;
			}


			.clearfix:after{
				content: "";
				clear: both;
				display: block;
			}

/*			*{
				transition: all 2s ease;
			}*/

			.wrapper{
				background: pink;
				width: 1200px;
				margin: 0 auto;
				padding: 10px;
				position: relative;
				color: #fff;
				font-size: 30px;
				transition: width 3s ease,background 5s linear 3s;

			}

			.wrapper:hover{
				background: lime;
				width: 1400px;

			}

			.wrapper>div{
				min-height: 50px;
			}

			.topMenu{
				font-size: 0;
				text-align: center;
				z-index: 5;
				position: relative;
			}

			.topMenu li{
				display: inline-block;
				background: yellow;
				font-size: 35px;
				position: relative;
				margin: 0 20px 0 0;
			}

			.topMenu li:hover{
				background: orange;
			}

			.topMenu li:last-child{
				margin: 0;
			}

			.topMenu li>a{
				text-decoration: none;
				color: blue;
				text-transform: uppercase;
				padding: 10px 20px;
				display: block;
			}

			.topMenu li>ul{
				position: absolute;
				top: 100%;
				left: 0;
				display: none;
				padding-top: 20px;
			}

			.topMenu li:hover>ul{
				display: block;
			}

			.topMenu li>ul>li{
				margin: 0;
			}

			.test4{
				position: relative;
				background: red;
			}

			.test7{
/*				width: 450px;*/
				padding: 450px 0 0;
				height:800px;
				font-size: 200px;
				font-weight: 800;
				color: rgba(0,0,0,0);
				padding: 50px;
				border: 50px solid rgba(0,0,0,.3);
				background:  url('../images/lion.jpg') no-repeat 50%/cover purple;
				background-clip: text;
				-webkit-background-clip: text;
			}

			.test8{
				height: 600px;
				background:  url('../images/lion.jpg') no-repeat 0/cover purple;
				background-attachment: fixed;
				font-size: 50px;
				font-weight: 800;
				color: rgba(0,0,0,0);
				background-clip: text;
				-webkit-background-clip: text;

			}

			.test9{
				height: 200px;
				background:  linear-gradient(23deg,yellow 50%,blue 50%);
			}

			.test10{
				height: 200px;
				background:  radial-gradient(farthest-side circle at 200px 20px,red 95%,lime 95%);
			}

			.soc_menu{
				text-align: right;
				font-size: 0;
			}

			.soc_menu li{
				display: inline-block;
				font-size: 20px;
				margin-left: 10px;

			}

			.soc_menu li a{
				width: 47px;
				height: 46px;
				display: block;
				background: url(../images/social.png);
				transition: background .3s ease;
			}

			.soc_menu li+li a{
				background-position: -47px 0;
			}

			.soc_menu li+li+li a{
				background-position: -94px 0;
			}

			.soc_menu li+li+li+li a{
				background-position: -141px 0;
			}

			.soc_menu li+li+li+li+li a{
				background-position: -188px 0;
			}

			/*hover*/

			.soc_menu li:hover a{
				background-position: 0 -47px;
			}

			.soc_menu li+li:hover a{
				background-position: -47px -47px;
			}

			.soc_menu li+li+li:hover a{
				background-position: -94px -47px;
			}

			.soc_menu li+li+li+li:hover a{
				background-position: -141px -47px;
			}

			.soc_menu li+li+li+li+li:hover a{
				background-position: -188px -47px;
			}

			/*soc2*/

				.soc_menu2{
				text-align: right;
				font-size: 0;
			}

			.soc_menu2 li{
				display: inline-block;
				font-size: 20px;
				margin-left: 10px;

			}

			.soc_menu2 li a{
				display: block;
				position: relative;
				padding: 16px 10px 10px 50px;
			}

			.soc_menu2 li a:before{
				content: "";
				width: 47px;
				height: 46px;
				display: inline-block;
				background: url(../images/social.png);
				transition: background .3s ease;
				position: absolute;
				top: 0;
				left: 0;
			}

			.soc_menu2 li+li a:before{
				background-position: -47px 0;
			}

			.soc_menu2 li+li+li a:before{
				background-position: -94px 0;
			}

			.soc_menu2 li+li+li+li a:before{
				background-position: -141px 0;
			}

			.soc_menu2 li+li+li+li+li a:before{
				background-position: -188px 0;
			}

			/*hover*/

			.soc_menu2 li:hover a:before{
				background-position: 0 -47px;
			}

			.soc_menu2 li+li:hover a:before{
				background-position: -47px -47px;
			}

			.soc_menu2 li+li+li:hover a:before{
				background-position: -94px -47px;
			}

			.soc_menu2 li+li+li+li:hover a:before{
				background-position: -141px -47px;
			}

			.soc_menu2 li+li+li+li+li:hover a:before{
				background-position: -188px -47px;
			}

			/*buttons*/

			.test11{
				text-align: center;
				padding: 50px;
			}

			.test11 a{
				padding: 10px 20px;
				text-decoration: none;
				color: red;
				font-size: 45px;
				border-top: 2px solid red;
				border-bottom: 2px solid red;
				margin: 0 20px;
				position: relative;
			}

				.test11 a:before, .test11 a:after{
					content: "";
					position: absolute;
					width: 2px;
					background: red;
					height: 0;
					transition: all 1s linear;
				}

				.test11 a:before{
					left: 0;
					bottom: 0;
				}

				.test11 a:after{
					right: 0;
					top: 0;
				}

				.test11 a:hover:before, .test11 a:hover:after{
					height: 100%;
				}

				.test11 a+a:before, .test11 a+a:after{
					top: 50%;
				}

				.test11 a+a:hover:before{
					top: 0;
				}

				.test11 a+a:hover:after{
					top: 0;
				}





			